---
import Button from "@ui/Button.astro";

const title = "Innovapaz";
const subTitle =
	"Donde las ideas se convierten en acción, y los emprendimientos en motores de cambio";
const primaryCTA = { text: "Encuentre mayor información", href: "/about/project-overview" }; // Astro's Button component will handle base URL prefix
const secondaryCTA = { text: "Contáctenos", href: "/about/contact" }; // Astro's Button component will handle base URL prefix
---

<div
	class="w-full space-y-5 px-3 pb-4 text-center sm:px-4 md:w-3/5 md:space-y-6 md:pb-0 md:text-left lg:w-1/2"
>
	<div class="select-none">
		<h1
			class="block text-3xl leading-tight font-bold text-pretty text-slate-800 drop-shadow-xl sm:text-4xl md:text-4xl lg:text-5xl xl:text-6xl"
		>
			{title}
		</h1>
	</div>

	<div>
		<p
			class="text-base text-pretty text-slate-800 drop-shadow-md md:text-lg"
		>
			{subTitle}
		</p>
	</div>

	{/* CTA Buttons */}
	<div
		class="flex flex-col justify-center gap-3 pt-2 sm:flex-row md:justify-start md:pt-4"
	>
		<Button
			href={primaryCTA.href}
			variant="primary"
			className="text-sm shadow-md md:text-base">{primaryCTA.text}</Button
		>
		<Button
			href={secondaryCTA.href}
			variant="secondary"
			className="bg-white/80 text-sm shadow-sm md:text-base"
			>{secondaryCTA.text}</Button
		>
	</div>
</div>
